/* Our Customized CSS */
/* Developer: Rezaul Karim
Website: eSchool Project | Assignment - 2
Course: https://bangla2.programming-hero.com/
Unit: Nine (9)
*/

/* Carousel and Menubar */
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
}
section {
    margin-bottom: 100px;
}
#carousel-section {
    background-color: #F0FFF0;
}
.logo-img {
    width: 118.07px;
    height: 29px;
}
.crousel-item {
    padding: 20px 40px;
    width: 50%;
}
.carousel-btn {
    padding: 12px 36px;
    width: 153px;
    height: 43px;
    border: none;
    color: white;

    background: #21B573;
    border-radius: 33px;
}
.nav-item a {
    color: #000000;
    font-size: 16px;
    line-height: 24px;
}
.carousel-txt h1 {
    font-family: Poppins;
    font-size: 48px;
    line-height: 40px;
    font-weight: bold;
}
/* End of Section one | Carousel and Menu */

/* Second Section | ICON */
.icon-image {
    background-color: #F8FFFB;
    border-radius: 10px;
    margin-left: 30px;
    width: 270px;
    padding: 10px;
}
.icon-image img {
    width: 80px;
    height: 95px;
    align-items: center;
}
.icon-image h1 {
    font-size: 20px;
    margin-top: 30px;
}
.icon-row {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
/* End of Section Two */

/* Section Three */

/* End of Section Three */

/* Section Four */
.testimonial img {
    width: 80px;
    height: 80px;
}
#testimonials h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 54px;
    margin-bottom: 50px;
}
.testimonial p {
    text-align: justify;
}
/* End of Section Four */
/* Section Five | Contact us */

/* End of Section five */

/* Footer Section */
footer {
    background-color: #282531;
    color: white;
    padding: 20px;
    margin-top: 50px;
}
.copyright span {
    color: red;
}
/* End of Footer Section */