/* Our Customized CSS */
/* Developer: Rezaul Karim
Website: eSchool Project | Assignment - 2
Course: https://bangla2.programming-hero.com/
Unit: Nine (9)
*/

/* General Design */
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Poppins', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
}
section {
    margin-bottom: 100px;
}
/* Button Design */
.button-design {
    transition-duration: 0.4s;
}
.button-design:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/* end of Button */

/* Carousel and Menubar */
#carousel-section {
    background-color: #F0FFF0;
    padding: 0 0 30px;
}
.logo-img {
    width: 118.07px;
    height: 29px;
}
.crousel-item {
    width: 50%;
}
.carousel-btn {
    padding: 12px 36px;
    width: 153px;
    height: 43px;
    border: none;
    color: white;

    background: #21B573;
    border-radius: 33px;
}
.carousel-txt {
    margin-top: 30px;
}
.carousel-txt h1 {
    font-size: 48px;
    line-height: 70px;
    font-style: normal;
    font-weight: bold;
}
.carousel-txt p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
}
.nav-item:last-child {
    padding: 1px 15px;
    width: 100px;
    height: 40px;
    border: none;
    color: white;
    font-style: normal;

    background: #21B573;
    border-radius: 33px;
}
.nav-item:last-child a {
    color: white;
}
.nav-link {
    color: black!important;
}
.carousel-inner {
    margin-top: 30px;
}
.carousel-txt p:first-child {
    color: #fd511a;
}
.carousel-txt h1 {
    font-family: Poppins;
    font-size: 48px;
    line-height: 40px;
    font-weight: bold;
}
/* End of Section one | Carousel and Menu */

/* Second Section | ICON */
#icon-section h1+p {
    color: #413960;
}
.icon-image {
    background-color: #F8FFFB;
    border-radius: 10px;
    margin-left: 30px;
    width: 270px;
    padding: 10px;
}
.icon-image img {
    width: 80px;
    height: 95px;
    align-items: center;
}
.icon-image h1 {
    font-size: 20px;
    margin-top: 30px;
}
.icon-row {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
/* End of Section Two */

/* Section Three */
.card img {
    padding: 8px 10px 0;
}
.card button {
    padding: 10px;
}
.card-box-shadow {
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 20px;
    border: none;
}
.card-footer {
    background: none;
    border: none;
}
.card-footer img {
    width: 30px;
    padding: 3px;
    margin: 0 auto;
}
#third-section h1 {
    color: #413960;
    font-weight: bold;
}
#third-section h5 {
    color: #413960;
}
/* End of Section Three */

/* Section Four */
.testimonial img {
    width: 80px;
    height: 80px;
}
#testimonials h1 {
    font-size: 36px;
    font-weight: bold;
    line-height: 54px;
    margin-bottom: 50px;
}
.testimonial p {
    text-align: justify;
}
/* End of Section Four */

/* Section Five | Subscribe */
.subs-button {
    cursor: pointer;
    color: white;
    border: none;

    background: #21B573!important;
    border-radius: 33px;
}
/* End of Section five */


/* Section Six | Contact us */
#contact-us {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 50px;
    margin-top: 220px;
}
/* ----- Contact us -------- */

/* Address Section | Seventh Section */
.address {
    background-color: #ffffff;
    box-shadow: 5px 10px 15px;
    transition-duration: 0.4s;
}
.address:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/* end of section seven */

/* Footer Section */
footer {
    background-color: #282531;
    color: white;
    padding: 30px;
    margin-top: 300px;
}
.copyright {
    margin-top: 50px;
}
.copyright span {
    color: red;
}
/* End of Footer Section */